@* @model StuCrsRes *@
@* @{ *@
@* 	ViewData["Title"] = "Add Student in Crs"; *@
@* 	Layout = "_ModifyLayout"; *@
@* } *@
@* <form asp-action="SaveAddStuCrs" asp-controller="StuCrsRes" method="post"> *@
@* 	<div class="mt-4"> *@
@* 		<label asp-for="StudentId"></label> *@
@* 		<input asp-for="Course.Name" class="form form-control" /> *@
@* 		<span asp-validation-for="Course.Name" class="text-danger"></span> *@
@* 	</div> *@
@* 	<div class="mt-4"> *@
@* 		<label asp-for="Course.Name"></label> *@
@* 		<input asp-for="Course.Name" class="form form-control" /> *@
@* 		<span asp-validation-for="Course.Name" class="text-danger"></span> *@
@* 	</div> *@
@* 	</form> *@