@model Course
@{
    ViewData["Title"] = "Edit Course ";
    Layout = "_ModifyLayout";
}
<form asp-action="SaveEdit" asp-controller="Course" asp-route-id="@Model.Id">
    <div class="mt-4">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-4">
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>
    <div class="mt-4">
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>
    <div class="mt-4">
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="ViewBag.DeptList" class="form form-control">
       
      </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <input type="submit" value="Save" class="btn btn-primary mt-4" />
 </form>
<a  asp-action="Index" asp-controller="Course" class="btn btn-dark mt-4">Back</a>


